{{ define "main" }}
{{- partial "header.html" . -}}
{{ if .Site.Params.product.enable }}{{ partial "product.html" .Site.Params.product }}{{ end }}
{{ if .Site.Params.album.enable }}{{ partial "album.html" .Site.Params.album }}{{ end }}
{{ if .Site.Params.datasheet.enable }}{{ partial "datasheet.html" .Site.Params.datasheet }}{{ end }}
{{ if .Site.Params.groupchat.enable }}{{ partial "groupchat.html" .Site.Params.groupchat }}{{ end }}
{{- partial "footer.html" . -}}
<style>
.home {
    color: rgb(114, 103, 239) !important;
}
</style>
{{ end }}