[submodule "blazehttp"]
	path = blazehttp
	url = https://github.com/chaitin/blazehttp


[submodule "sdk/traefik-safeline"]
	path = sdk/traefik-safeline
	url = https://github.com/chaitin/traefik-safeline
