[submodule "yanshi"]
	path = yanshi
	url = https://github.com/chaitin/yanshi
[submodule "blazehttp"]
	path = blazehttp
	url = https://github.com/chaitin/blazehttp
[submodule "lua-resty-t1k"]
	path = lua-resty-t1k
	url = https://github.com/chaitin/lua-resty-t1k
[submodule "plugins"]
	path = plugins
	url = https://github.com/chaitin/safeline-open-platform
