<section class="section-datasheet">
    <div class="container">
        <div class="row justify-content-center" id="datasheet" >
            {{ with .label }}
            <h3 class="text-center text-primary datasheet-title display-4">{{ . }}</h3>
            {{ end }}
        </div>
        <table class="table datasheet row">
            <tr class="datasheet-header row">
                <td class="d-flex col-4"></td>
                <td class="d-flex col-4 ce row">
                    <div class="offset-1 col-10 bar">
                    </div>
                    <div class="offset-1 col-6 celborder" style="font-size: 20px; font-weight: 700; line-height: 4rem;">
                        社区版
                    </div>
                    <div class="col-4 text-light cerborder" style=" line-height: 4rem;">
                        免费
                    </div>
                </td>
                <td class="d-flex col-4 ee row">
                    <div class="offset-1 col-10 bar">
                    </div>
                    <div class="offset-1 col-6 eelborder" style="font-size: 20px; font-weight: 700; line-height: 4rem;">
                        企业版
                    </div>
                    <div class="col-4 eerborder" style=" line-height: 4rem;">
                        独立报价
                    </div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">智能语义分析引擎</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success celborder cerborder">支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">可防护站点数量</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success celborder cerborder">无限制</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">无限制</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">自定义黑名单</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-warning celborder cerborder">即将支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">自定义白名单</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-warning celborder cerborder">即将支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">反向代理接入</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success celborder cerborder">支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">软件形态</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success celborder cerborder">支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">硬件形态</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">智能业务建模</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">动态防护</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">分布式集群部署</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">SDK 接入</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">透明代理接入</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">透明桥接接入</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label">旁路镜像接入</td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-danger celborder cerborder">不支持</div>
                </td>
                <td class="d-flex col-4 datasheet-body row">
                    <div class="offset-1 col-10 text-success eelborder eerborder">支持</div>
                </td>
            </tr>
            <tr class="row datasheet-body-tr">
                <td class="d-flex col-4 datasheet-body-label"></td>
                <td class="d-flex col-4 datasheet-body row" style="line-height: 5rem;">
                    <div class=" offset-1 col-10 text-danger celborder cerborder cebborder">
                        <a target="_blank" class="btn btn-light text-primary px-4 my-1"
                            href="https://stack.chaitin.com/tool/detail?id=717">免费使用</a>
                    </div>
                </td>
                <td class="d-flex col-4 datasheet-body row" style="line-height: 5rem;">
                    <div class=" offset-1 col-10 text-danger eelborder eerborder eebborder">
                        <a target="_blank" class="btn btn-info text-dark px-4 my-1"
                            href="https://stack.chaitin.com/tool/detail?id=717">立即询价</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>