<section class="section-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-9 col-xl-10 d-flex flex-column">
        <h3 class="product-name display-1 text-xl-start pb-4">{{ .name }}</h3>
        {{ with .slogan }}
          <p class="product-desc text-xl-start pb-4">{{ . | markdownify }}</p>
        {{ end }}
        <div class="d-flex flex-column flex-xl-row">
          {{ with .button.primary }}
            <a {{ with .newTab }}target="_blank"{{ end }} class="btn btn-light text-primary px-4 my-1" href="{{ .url }}">{{ with .icon }}<span class="btn-icon"><img src="{{ . }}"></span>{{ end }}{{ .label }}</a>
          {{ end }}
          {{ range .button.secondary }}
            <a {{ with .newTab }}target="_blank"{{ end }} class="btn btn-info text-dark px-4 my-1 ms-xl-4" href="{{ .url }}">{{ with .icon }}<span class="btn-icon"><img src="{{ . }}"></span>{{ end }}{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-12 col-sm-4 col-md-3 col-xl-2 d-flex flex-column protuct-image">
        <img src="{{ .image }}" />
      </div>
    </div>
  </div>
</section>
