/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  scrollbar-width: 5px;
  scrollbar-color: #9b9b9b #363636;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ping Fang SC', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }


  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wings {
  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes slideY {

  0%,
  50%,
  100% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(10px);
  }
}

@keyframes slideX {

  0%,
  50%,
  100% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(10px);
  }
}


@keyframes scale {
  0% {
    transform: scale(1.5) rotate(90deg);
    opacity: 0;
  }

  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
}

.dark ::-webkit-scrollbar {
  width: 5px;
  /* 纵向滚动条*/
  height: 5px;
  /* 横向滚动条 */
  background-color: #363636;
  border-radius: 10px;
}

/*定义滚动条轨道 内阴影*/
.dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #363636;
  border-radius: 10px;
}

/*定义滑块 内阴影*/
.dark ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #9b9b9b;
  border-radius: 10px;
}


.light ::-webkit-scrollbar {
  width: 5px;
  /* 纵向滚动条*/
  height: 5px;
  /* 横向滚动条 */
  border-radius: 10px;
}

/*定义滚动条轨道 内阴影*/
.light ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #afafaf;
  border-radius: 10px;
}

/*定义滑块 内阴影*/
.light ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #666;
  border-radius: 10px;
}

/* @font-face {
    font-family: 'HYXIAOBOZHEZHITIJ';
    src: url('../fonts/HYXIAOBOZHEZHITIJ.TTF');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
  font-family: 'Mono-Bold';
  src: url('../fonts/JetBrainsMono-Bold.ttf');
  font-weight: normal;
  font-style: normal;
} */


.markdown-navigation {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  width: 100%;
  overflow: hidden;
  border-left: 2px solid #E9E9E9;
  padding-left: 15px;
}

.markdown-navigation .title-anchor {
  display: block;
  color: #bbb;
  transition: all 0.2s;
  margin: 0.8em 0;
  /* font-weight: lighter; */
  line-height: 2em;
  padding-right: 1.8em;
  cursor: pointer;
}

.markdown-navigation .title-anchor:hover,
.markdown-navigation .title-anchor.active {
  background-color: #f8f8f8;
  text-decoration: inherit;
}

.markdown-navigation .title-anchor.active {
  color: #007fff;
}

.markdown-navigation .title-anchor small {
  /* margin: 0 0.8em; */
  margin-right: 0.8em;
}

.markdown-navigation .title-level1 {
  display: none;
  color: #000;
  font-size: 1.2em;
  padding-left: 0em;
  font-weight: normal;
}

.markdown-navigation .title-level2 {
  color: #000;
  font-size: 1em;
  /* padding-left: 2em; */
  font-weight: normal;
}

.markdown-navigation .title-level3 {
  color: #666;
  font-size: 0.8em;
  /* padding-left: 3em; */
  font-weight: normal;
}

.markdown-navigation .title-level4 {
  color: #222;
  font-size: 0.72em;
  /* padding-left: 4em; */
}

.markdown-navigation .title-level5 {
  color: #999;
  font-size: 0.72em;
  /* padding-left: 5em; */
}

.markdown-navigation .title-level6 {
  color: #bbb;
  font-size: 0.72em;
  /* padding-left: 6em; */
}